<div [class.album--loaded]="loaded" class="album-container">
  <div class="content-container">
    <div class="upload-section">
      <div *ngIf="!isDropped" class="file-upload-container">
        <app-file-upload (filesDropped)="onFilesDropped($event)"></app-file-upload>
      </div>

      <div *ngIf="isDropped" class="model-prediction">
        <div class="model-prediction-title">Model Prediction</div>
        <div class="model-prediction-buttons">
          <button type="button" (click)="uploadAndPredict2()">Use SVM Model</button>
          <button type="button" (click)="uploadAndPredict()">Use CNN Model</button>
        </div>
        <p class="prediction-text">Model Prediction: It's a <span>{{songTitle}}</span> music</p>
      </div>
    </div>

    <div class="song-details">
      <h1 class="song-title">{{songTitle}}</h1>
    </div>
  </div>
</div>
