version: '3.8'
services:
  vgg:
    build: ./music_class
    ports:
      - "5000:5000"
    networks:
      - app-network
  svm:
    build: ./back_SVM
    ports:
      - "5001:5001"
    networks:
      - app-network    
  front:
    build: ./front
    ports:
      - "4200:4200"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
